html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

input {
   display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 40%;
    width: 100%;
    border-style: solid;
    border-color: #34A852;
    border-radius: 10px;
    padding-left: 5%;
    font-size: 90%;
    color: #EDEDED;
}
::-webkit-input-placeholder {
    opacity:0.5;
}
::-moz-placeholder{
    opacity:0.5;
}

.input_title {
    color: #34A852;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size:18px;
}

.button {
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight:400;
    color: #FFFFFF;
    background-color: #34A852;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    color: #34A852;
}

.white {
    background-color: #FFFFFF;
}

.grey {
    background-color: #EDEDED;
}

.or {
    font-weight: 700;
    font-size:20px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right:10px;
}

.search_title {
    font-weight:300;
    color: #34A852;
    padding-bottom: 70px;
}
#search_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
}

#search {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 10%;
}

#maintitle {
    margin-left: 2.5%;
    font-size: 30px;
    margin-top: 2.5%;
}

#subtitle {
    display: flex;
    margin-top: 8.50%;
    margin-left: 10%;
    font-size: 170%;
    margin-bottom: 0.625%;
}

@media only screen and (max-width: 500px){
    #search_row {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 80%;
        min-height: 40px;
     }
    #maintitle {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    #subtitle {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .or {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    #search {
        padding: 0;
        width: 100%;
    }
    .button {
        width: 80%;
    }
}