html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
}
header {
    height: 300px;
    background-color: white;
    margin: 0;
    padding: 0;
}
main {
    background-color: #EDEDED;
}

input {
   display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 40%;
    width: 100%;
    border-style: solid;
    border-color: #34A852;
    border-radius: 10px;
    padding-left: 5%;
    font-size: 90%;
}
::-webkit-input-placeholder {
    color: lightgrey;
}
::-moz-placeholder{
    color: lightgrey;
}

.input_title {
    color: #34A852;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size:18px;
}

.button {
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight:400;
    color: #FFFFFF;
    background-color: #34A852;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.green {
    color: #34A852;
}

.white {
    background-color: #FFFFFF;
}

.grey {
    background-color: #EDEDED;
}

.or {
    font-weight: 700;
    font-size:20px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right:10px;
}
.tile {
    display: flex;
    flex-direction: row;
    border-style: solid;
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 4%;
    margin-bottom: 4%;
}
.thumbnailimg {
    height: 250px;
    padding: 5%;
}
.search_title {
    font-weight:300;
    color: #34A852;
    padding-bottom: 70px;
}
.Xsymbol {
    text-align: right;
}
.button_arrow {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    margin: 30px;
    cursor: pointer;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    height: 20px;
    padding: 10px 10px 20px 10px;
}
#search_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
}

#search {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 10%;
}

#maintitle {
    padding-left: 2.5%;
    font-size: 30px;
    padding-top: 2.5%;
}

#subtitle {
    display: flex;
    margin-top: 8.50%;
    margin-left: 10%;
    font-size: 170%;
    margin-bottom: 0.625%;
}
#bookDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items:stretch;
}
#overlay_main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#overlay_dim {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#overlay_tile {
    border-style: solid;
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 4%;
    margin-bottom: 4%;
}
#keep_button {
    padding: 5px 0px;
    margin: 5px;
}

@media only screen and (max-width: 500px){
    #search_row {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 80%;
        min-height: 40px;
     }
    #maintitle {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    #subtitle {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .or {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    #search {
        padding: 0;
        width: 100%;
    }
    .button {
        width: 80%;
    }
}